@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.display-flex{
    display: flex;

}

.font-family{
    font-weight: 800;
    font-size: 2rem;
    color: rgba(37, 36, 50, 1);

}
.nav-link{
    align-items: center;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item1{
 list-style: none;
 margin: 30px;
}
.nav-link1{
    text-decoration: none;
}
.cart{
    text-decoration: none;
    
}

.navbar,.banner{
    max-width: 1140px;
    margin: 0 auto;
}
.banner{
    max-width: 1140px;
    margin: 0 auto;
    padding: 120px;
    justify-content: space-between;
    align-items: center;


}
.btg{
    
    background-color:rgba(233, 90, 8, 1) ;
    /* padding: 20px; */
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
.font-color{
    color: rgba(233, 90, 8, 1);
    font-weight: 800;
    /* font-size: 5rem; */
}

.banner-content{
     max-width: 570px; 
     margin: 0 auto; 
     /* margin-right: 20px; */
     /* margin-left: 20px; */
  
}

.img-title{
    /* display: grid; */
    width: 100%;
    max-width: 570px;
    align-items: center;
    /* padding: 200px; */

}
.navitem{
    list-style: none;
}
.main{
    max-width: 1140px;
    margin: 0 auto;
}

.plants {
    /* max-width: 1140px; */
    text-align: center;
}
.lant-description{
    text-align: center;
    margin: 0 auto;
}

.plantsimages{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.image{
    max-width: 1140px;
}
.image1{
    padding-top: 50px;
}
.image2{
   /* margin: 0 auto; */
   /* padding: 20px; */
   /* margin-right: 200px; */
   margin-left: 30px;
}

.image3{
    color: black;
    font-weight: 500;
    font-size: 1rem;
    padding: 50px;
}

.deals{
    align-items: center;
}
.latest-deals{
    text-align: center;
}
.latest-description{
    text-align: center;
    align-items: center;
}
.shop{
    /* color: rgba(255, 255, 255, 1); */
    font-size: 1rem;
    font-weight: 500;
}
.bloom{
    align-items: center;
    text-align: center;
    padding-top: 50px;
    margin: 30px;
}
.ana{
    align-items: center;
    text-align: center;
    /* padding-top: 50px; */
    margin: 30px;
    padding-top: 30px;
}
.subscribe{
    color: black;
    list-style: none;
    text-decoration: none;
}

.zabo-plant{
    background-image: url('/assets/deal-bloom.png');
    max-width: 540px;
    height: 206px;
    width: 366px;
    border-radius: 1rem;
    
    
}
.ana-plant{
    background-image: url('/assets/deal-ana.png');
    max-width: 540px;
    height: 206px;
    width: 366px;
    border-radius: 1rem;
}
.Zabo{
    align-items: center;
    text-align: center;
    margin: 30px;
    padding-top: 250px;
}

.Zabo-plant{
    background-image: url('/assets/deal-zabo.png');
    max-width: 540px;
    height:412px ;
    width: 732px;
    border-radius: 1rem;
  
}

.main-section{
    display: grid;
    grid-template-rows: repeat(1,1fr);
}

.divide{
    gap: 100px;
    padding-top: 40px;
}
.bunch{
    align-items: center;
    text-align: center;
    margin: 100px;
    padding-top: 250px;

}
.join{
    background-image: url('/assets/news-letter-bg.png');
    height: 540px;
}

.footer{
    max-width: 1140px;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    justify-content: space-around;
    /* align-items: center; */
    justify-content: center;
    /* gap: 30px; */
    margin: 0 auto;
    padding-top: 50px;
}
.many{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(5,1fr); */
}
.media-logo{
    margin: 20px;
    /* padding: 30px; */
    margin-right: 30px;
}
.logodiv{
    margin: 30px;
    padding-left: 30px;
}
.element{
    gap: 30px;
    margin: 5px;
}
@media screen and (max-width: 576px) {
    .navitem{
    /* flex-direction: row; */
    flex-wrap: 1;
    /* justify-content: space-between; */
    /* margin: 50px; */
    padding-left: 400px;
       
    }
    .logo{
        padding-left: 30px;
    }
    .nav-item1{
        display: none;
    }
    .banner-description{
        align-items: center;
    }
    .banner,.img-title{
       flex-direction: column-reverse;
    }
    .plantsimages{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* margin: 0 auto; */
        margin: 50px;
    }
    .plants{
        /* margin: 50px; */
        align-items: center;
        text-align: center;
        /* padding: 50px; */
        justify-content: center;
        margin-left: 150px;
        /* margin: 0 auto; */
        /* margin-right: 20px; */
        /* text-align: center; */
    }
    .image{
        flex-direction: column;
    }
    .divide{
        flex-direction: column;
    }
    .join{
        width: 100%;

    }
    .footer{
        flex-direction: column;
    }
    .many{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
}

